{% extends 'file/base.html' %}
{% block content %}
<div>
    <form method="post" enctype="multipart/form-data" id="detect" novalidate>
        {{ form.csrf_token }}
        {% for message in get_flashed_messages() %}
            <span class="dt-auth-flash">{{ message }}</span>
        {% endfor %}
        <div>
            {{ form.model(class="form-control") }}
        </div>
        <div>
            {{ form.image(class="form-control", id="input_image") }}
        </div>
        {% for error in form.image.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        <div>
            <label>{{ form.submit(class="btn btn-primary") }}</label>
        </div>
    </form>
    <hr />
    <div class="row row-cols-2 gx-5">
        <div class="col bg-primary">
            <img id="upload_image" class="img-fluid" src="" alt="업로드 이미지">
        </div>
        <div class="col bg-secondary">
            <img id="detected_image" class="img-fluid" src="" alt="탐지 이미지">
        </div>
    </div>

    
</div>

<script>
    const form = document.getElementById('detect');
    const upload_image = document.getElementById('upload_image');
    const detected_image = document.getElementById('detected_image');
    const input_image = document.getElementById('input_image');

    input_image.addEventListener('change', (e) => {
        const files = e.target.files;
        if (files.length > 0) {
            upload_image.src = URL.createObjectURL(files[0]);
        } else {
            upload_image.src = "";
        }
    })

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        formData.append('submit', "Upload");

        try {
            const response = await fetch("{{ url_for('detect.detect_images') }}", {
                method: "POST",
                body: formData
            });

            if (response.ok) {
                const blob = await response.blob();
                const imgUrl = URL.createObjectURL(blob);

                detected_image.src = imgUrl;
            } else {
                const text = await response.text();
                alert(text);
            }
        } catch (error) {
            alert("오류가 발생하였습니다.");
            console.error(error);
        }

    })
</script>
{% endblock %}