{% extends 'user/base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div>
    <div>
        <header><h2>Sign up</h2></header>
        <section>
            <form action="{{ url_for('user.signup', next=request.args.get('next')) }}" class="form-signin" method="POST"
                  novalidate="novalidate">
                {{ form.csrf_token }}
                {% for message in get_flashed_messages() %}
                <div>{{ message }}</div>
                {% endfor %}
                {{ form.email(class="form-control", placeholder="Email") }}
                {{ form.password(class="form-control", placeholder="Password") }}
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}